{{> header}}
   <section id="main" class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4 col-lg-3">
                <div class="list-group list-buttons-city">
                    {{createList cities.arr}}
                </div>
            </div>
        </div>
    </div>
</section>
{{> footer}}